@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i");

@import "./public/_reset.scss";
@import "./public/_variable.scss";
@import "./public/_mixin.scss";

// --------------------------------------------
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-bg-gray;
  font-family: "Roboto", sans-serif;
}
// --------------------------------------------

// header--------------------------------------------
.header {
  @include flex(center);

  width: 100%;
  background: $color-purple;

  .container {
    width: 100%;
    max-width: 1200px;
  }

  .searchBlock {
    @include flex(flex-start, center);

    position: relative;
    // width: 388px;
    height: 92px;
    margin-left: 78px;

    @media screen and (max-width: $mq-pad) {
      margin-left: 39px;
    }
    @media screen and (max-width: $mq-mobile) {
      flex-direction: column;
      justify-content: center;
      height: 69px;
      margin-left: 0;
    }

    .logo {
      margin-right: 149px;

      @media screen and (max-width: $mq-mobile) {
        margin-right: 0;
      }
    }

    &__search {
      @include flex(flex-start, center);

      width: 100%;
      max-width: 388px;
      border-bottom: 1px solid $color-white;

      @media screen and (max-width: $mq-mobile) {
        position: absolute;
        top: 82px;
        max-width: 330px;
        border-bottom: 1px solid $color-black;
      }

      .searchIcon {
        margin-right: 20px;
        padding-bottom: 5px;
        color: $color-white;
        font-size: 24px;

        @media screen and (max-width: $mq-mobile) {
          color: $color-black;
        }
      }

      input {
        width: 100%;
        max-width: calc(100% - 28px);
        padding-bottom: 5px;
        color: $color-white;
        border: 0;
        outline: 0;
        background: transparent;
        font-size: $font-size-placeholder;

        @media screen and (max-width: $mq-mobile) {
          margin-right: 0;
          color: $color-black;
        }
      }
    }
  }
}

// header--------------------------------------------

// main--------------------------------------------
.main {
  @include flex(center);

  .container {
    @include flex(flex-start);

    width: 100%;
    max-width: 1200px;

    @media screen and (max-width: $mq-mobile) {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
    }
  }

  .filters {
    @include flex(center);

    margin-left: 38px;

    flex-flow: column wrap;

    @media screen and (max-width: $mq-pad) {
      margin-left: 0;
    }

    .filter {
      // @include outline(red);
      width: 100%;
      max-width: 300px;
      padding: 0 40px;
      border-bottom: 1px solid $color-gray-light3;
      background: $color-gray-light2;

      @media screen and (max-width: $mq-mobile) {
        width: 100vw;
        max-width: 100vw;
      }

      &__header {
        // @include outline(blue);
        @include flex(flex-start, center);

        height: 64px;

        .subtitle {
          margin-right: auto;
          font-family: $font-family-subtitle;
          font-size: $font-size-title;
          font-weight: bold;
        }

        .headerIcon {
          font-size: 22px;
        }
      }

      &__body {
        padding-bottom: 24px;

        .dateBlock {
          @include flex(flex-end, center);
        }

        .el-date-editor {
          width: 169px;
          margin-left: 13px;
        }

        .el-checkbox-group {
          @include flex(flex-start);

          flex-flow: column nowrap;
        }

        .el-checkbox__label {
          color: #000000;
          font-family: $font-family-subtitle;
          font-size: $font-size-label;
        }

        .el-checkbox + .el-checkbox {
          margin-top: 10px;
          margin-left: 0;
        }

        .el-select {
          @media screen and (max-width: $mq-mobile) {
            width: 90%;
          }
        }
      }
    }
  }

  .content {
    max-width: 100%;
    margin-left: 42px;

    @media screen and (max-width: $mq-pad) {
      margin-left: 30px;
    }

    @media screen and (max-width: $mq-mobile) {
      margin-left: 0;
    }

    .resultInfo {
      height: 82px;
      margin-top: 24px;
      font-family: $font-family-remark;
      font-size: $font-size-title;

      &--count {
        color: $color-purple;
        font-size: bold;
      }

      &--tag {
        display: inline-block;
        margin-top: 8px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 0 15px;
        cursor: pointer;
        transition: all .3s;
        color: $color-purple-light;
        border: 1px solid $color-purple-light;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 100;
        font-style: italic;
        line-height: 35px;

        &:hover {
          color: #ffffff;
          background-color: $color-purple-light;
        }
      }
    }

    .resultList {
      // width: 100%;
      // max-width: 780px;
      width: 100%;
      max-width: 780px;

      .card {
        // @include outline(red);
        @include flex(flex-start);

        width: 100%;
        max-width: 780px;
        margin-top: 20px;
        margin-bottom: 24px;
        transition: .3s;
        background: #ffffff;

        @media screen and (max-width: $mq-pad) {
          flex-flow: column wrap;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 5px 10px hsla(0, 0%, 46%, .5);
        }

        &__img {
          // @include size(220px);
          width: 100%;
          max-width: 220px;
          height: 220px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          @media screen and (max-width: $mq-pad) {
            // @include size(410px, 196px);
            max-width: 410px;
            height: 196px;
          }

          @media screen and (max-width: $mq-mobile) {
            // @include size(334px, 196px);
            max-width: 334px;
          }
        }

        &__info {
          @include flex(flex-start);

          width: 100%;
          height: 220px;
          padding: 24px 0 24px 20px;

          flex-flow: column wrap;

          @media screen and (max-width: $mq-pad) {
            max-width: 410px;
            height: auto;
          }

          @media screen and (max-width: $mq-mobile) {
            max-width: 334px;
          }

          .title {
            margin-bottom: 16px;
            color: $color-purple;
            font-family: $font-family-title;
            font-size: $font-size-title;
            font-weight: bold;
          }

          .desc {
            overflow: hidden;
            height: 53px;
            margin-bottom: 16px;
            padding-right: 40px;
          }

          &__main {
            // margin-bottom: 16px;

            .location {
              font-size: $font-size-remark;
              font-weight: bold;
            }
            .tag {
              display: inline-block;
              margin: 0 3px;
              padding: 0 15px;
              color: #ffffff;
              border-radius: 100px;
              background: #d7d7d7;
              font-size: 16px;
              font-weight: 100;
              font-style: italic;
              line-height: 24px;
            }
          }

          &__other {
            margin-top: auto;

            .city,.date {
              margin-right: 10px;
              color: $color-gray-dark;
            }
          }
        }
      }
    }

    .el-pagination {
      text-align: right;
    }
  }
}
// main--------------------------------------------

// map--------------------------------------------

.map__block {
  position: fixed !important;
  z-index: 999;
  bottom: 40px;
  left: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  transform: translateX(-50%);
  border: .5px solid $color-gray-light3;
  border-radius: 3px;
  background: $color-gray-light3;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, .5);

  &__info {
    @include flex(flex-start);

    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px dashed #000000;

    flex-flow: column wrap;

    .title {
      margin-top: 13px;
      color: #35495e;
      font-family: "Roboto-Medium;";
      font-size: 24px;
      font-weight: bold;
    }
    .add {
      margin-left: 24px;
      color: #35495e;
      font-size: 14px;
    }
    .bt-closeMap {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #35495e;
      font-size: 32px;
    }
  }

  &__location {
    width: 100%;
    height: 450px;
    padding: 5px;
  }
}
// map--------------------------------------------

.hidden-mobile {
  @media screen and (max-width: $mq-mobile) {
    display: none;
  }
}

// 過渡效果
.list-enter-active,.list-leave-active {
  transition: all 1s;
}
.list-enter,.list-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  transform: translateX(30px);
  opacity: 0;
}

.fade-enter-active,.fade-leave-active {
  transition: all .8s;
}
.fade-enter,.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
}
