.map__block {
  position: fixed !important;
  z-index: 999;
  bottom: 40px;
  left: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  transform: translateX(-50%);
  border: .5px solid $color-gray-light3;
  border-radius: 3px;
  background: $color-gray-light3;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, .5);

  &__info {
    @include flex(flex-start);

    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px dashed #000000;

    flex-flow: column wrap;

    .title {
      margin-top: 13px;
      color: #35495e;
      font-family: "Roboto-Medium;";
      font-size: 24px;
      font-weight: bold;
    }
    .add {
      margin-left: 24px;
      color: #35495e;
      font-size: 14px;
    }
    .bt-closeMap {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #35495e;
      font-size: 32px;
    }
  }

  &__location {
    width: 100%;
    height: 450px;
    padding: 5px;
  }
}

// 動畫效果
.fade-enter-active,.fade-leave-active {
  transition: all .8s;
}

.fade-enter,.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
}
