// color
$color-purple: #7828b4;
$color-purple-light: #9013fe;
$color-gray-light1: #f2f2f2;
$color-gray-light2: #ebebeb;
$color-gray-light3: #d7d7d7;
$color-gray-dark: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-gray: #f2f2f2;

// font size
$font-size-title: 24px;
$font-size-title2: 36px;
$font-size-subtitle: 20px;
$font-size-paragraph: 16px;
$font-size-remark: 16px;
$font-size-placeholder: 20px;
$font-size-label: 16px;

// font family
$font-family-title: "Roboto-Medium;";
$font-family-title2: "Roboto-Medium;";
$font-family-subtitle: "Roboto-Medium";
$font-family-paragraph: "Roboto-Regular";
$font-family-remark: "Roboto-Regular";
$font-family-placeholder: "Roboto-Regular";
$font-family-label: "Roboto-Italic";

// breakpoint
$mq-pad: 768px;
$md-mobile: 414px;
